:root {
    --backgroundColor: rgb(245, 243, 239);
    --backgroundColorLight: #FAF9F7;
    --backgroundColorWhite: #FFFFFF;

    --greenMain: #00AC66;

    --textColor: #292929;
    --textColorLight: #A6A6A6;
    --textColorBlack: #000000;
    --textColorWhite: #FFFFFF;
}

* {
    font-family: 'Inter', sans-serif;
    color: var(--textColor);
    font-weight: 400;
}

html, body {
    overflow-x: hidden;
    max-width: 1440px;
    margin: auto;
    padding: 0;
}

h2 {
    font-family: "Playfair Display", serif;
    color: var(--textColor);
    font-weight: 400;
    font-size: 2.25rem;
}

.overflow {
    overflow: hidden;
}

/* Zone Header + Menu burger */

header {
    overflow-x: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.logo-header {
    width: 155px;
    height: 51px;
}

.header-menu-burger {
    display: none;
}

.spacer  {
    flex-grow: 1;
    width: 10%;
}

#icon-header-menu {
    color: #A6A6A6;
    font-size: 2em;
    cursor: pointer;
    display: none;
}

/* Zone Header et Footer */

.nav-site, .nav-footer {
    display: flex;
    align-items: center;
}

.nav-site-list, .nav-user-list, .nav-footer-list {
    display: flex;
    list-style: none;
    align-items: baseline;
    padding: 0;
}

.nav-site-list li, .nav-user-list li, .nav-footer-list li {
    margin-left: 40px;
}

.nav-site-list a, .nav-user-list a, .nav-footer-list a {
    text-decoration: none;
}

.nav-site-list a:hover, .nav-user-list a:hover, .nav-footer-list a:hover {
    text-shadow: 0 0 1px;
}

/* Zone Footer */

footer {
    background-color: var(--backgroundColorWhite);

    display: flex;
    padding: 20px 0;
    font-weight: 300;
    justify-content: flex-end;
}

.nav-logo-footer {
    width: 22px;
    height: 17px;
    margin: 0 40px;
}

.nav-footer-list {
    display: flex;
    list-style: none;
}

/* Zone Header et Footer --RESPONSIVE-- + Menu burger */

@media screen and (max-width: 1144px) {
    .nav-site-list li, .nav-user-list li, .nav-footer-list li {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1024px) {

    .header-menu {
        position: absolute;
        width: 100%;
        top: -150px;
        background-color: var(--backgroundColor);
        opacity: .90;
        transition: top ease .5s;
    }

    .header-menu.active {
        top: 71px;
        transition: top ease .5s;
    }

    .logo-and-icon-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #icon-header-menu {
        display: flex;
        align-items: center;
    }

    .header-menu, .nav-site-list, .nav-user-list {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .nav-site-list li, .nav-user-list li {
        margin: 5px auto;
    }

    .nav-footer, .nav-footer-list {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .nav-footer-list li, .nav-logo-footer {
        margin: 20px 0 0 0;
    }
}

/* Zone Home */

/* Section "join-us" */

.join-us {
    display: flex;
    background-color: var(--backgroundColor);
    padding: 5% 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.join-us .text-container {
    text-align: left;
    max-width: 33%;
    margin-right: 50px;
}

.join-us .text-container h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2.25rem;
}

.join-us .text-container p {
    font-weight: 300;
    font-size: 1rem;
    margin: 25px 0 50px 0;
}

.join-us .img-container img {
    height: 539px;
    width: 404px;
}

.green-button {
    color: var(--textColorWhite);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 22px 38px;
    margin: 30px 0;
    background-color: var(--greenMain);
    border-radius: 10px;
}

/* Section "join-us" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .join-us {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    .join-us .img-container img {
        height: auto;
        width: 100%;
    }

    .join-us .text-container {
        max-width: 90%;
        margin: 30px 10px;
    }

    .green-button {
        display: flex;
        justify-content: center;
    }
}

/* Section "last-book-add" */

.last-book-add {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColorLight);
    padding: 2% 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColorWhite);

    margin: 20px;
    width: 200px;
    height: 324px;
}

.book-card a {
    text-decoration: none;
}

.book-card img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.text-card {
    padding: 10px;
}

.book-card .title-book-card {
    font-weight: 400;
    font-size: 1rem;
    color: var(--textColorBlack)
}

.book-card .author-book-card {
    font-weight: 400;
    font-size: .875rem;
    color: var(--textColorLight);
}

.book-card .seller-book-card {
    font-weight: 400;
    font-size: .625rem;
    font-style: italic;
    color: var(--textColorLight);
}

/* Section "last-book-add" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Section "how-work" */

.how-work {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    padding: 2% 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.how-work-text {
    font-weight: 300;
    width: 397px;
    text-align: center;
}

.how-work-card {
    display: flex;
    background-color: var(--backgroundColorWhite);
    font-size: 0.875rem;
    border-radius: 10px;
    margin: 10px;
    width: 215px;
    height: 139px;
    align-items: center;
}

.how-work-card p {
    width: 180px;
    height: 51px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.green-button.transparent {
    color: var(--greenMain);
    background-color: rgba(255, 255, 255, 0);
    border: var(--greenMain) solid 1px;
}

/* Section "how-work" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .how-work-card {
        width: 100%;
    }
}

/* Section "our-values" */

.our-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
}

.our-values-illustration {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.our-values-text-container {
    font-weight: 300;
    text-align: left;
    width: 392px;
    /*margin-bottom: 40px;*/
}

.our-values-signature {
    font-weight: 400;
    color: var(--textColorLight);
    font-size: 0.75rem;
    font-style: italic;

}

.our-values-coeur {
    width: 120px;
    height: 102px;
    padding-bottom: 80px;
    padding-left: 400px;
}

/* Section "our-values" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .our-values-illustration {
        object-fit: cover;
        width: 100%;
        height: 425px;
    }

    .our-values-coeur {
        text-align: center;
        padding: 30px 0;
    }
}

/* Section "library" */

.library {
    background-color: var(--backgroundColor);
    padding: 5% 10%;
}

.library-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.library form {
    background-color: #FFFFFF;
    border-radius: 6px;
}

.library form i {
    padding: 10px;
    color: #D9D9D9;
}

#search {
    max-width: 290px;
    min-width: 240px;
    height: 50px;
    border: none;
    border-radius: 0 6px 6px 0;
}

.cards-container-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Section "library" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .library-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .library {
        padding: 0;
    }

    .library form, .library h2 {
        width: 80%;
    }

    .cards-container-library {
        justify-content: space-evenly;
    }
}

/* Section "book-details" */

.book-details {
    display: flex;
    background-color: var(--backgroundColorLight);
}

.book-details-illustration {
    max-width: 50%;
    object-fit: cover;
}

.book-details-illustration img {
    width: 100%;
    height: auto;
}

.book-details-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5%;
    width: 50%;
}

.book-details-contact {
    width: 100%;
    text-align: center;
}

.book-details-contact {
    display: flex;
    margin: auto 0;
    padding: 0;
    flex-direction: column;
}

.book-details-contact summary {
    list-style: none;

    cursor: pointer;
}

.book-details-author {
    color: var(--textColorLight);
    font-size: 1rem;
}

.book-details-separator {
    margin-bottom: 20px;
}

.book-details-subtitle {
    font-weight: 600;
    font-size: .625rem;
    line-height: 10px;
}

.book-details-description-text {
    overflow: auto;
    max-height: 400px;
}

.book-details-owner-photo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: #FFFFFF;

    width: auto;
    margin: 20px 0 ;
    padding: 0 2px;
    border-radius: 117px;

    text-decoration: none;
}

.book-details-separator {
    color: var(--textColorLight);
}

.book-details-owner-photo p {
    padding: 0 10px;
}

.book-details-owner-photo img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}

/* Section "book-details" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .book-details {
        flex-wrap: wrap;
    }
    .book-details-illustration, .book-details-text {
        width: 100%;
    }
    .book-details-illustration {
        max-width: 100%;
        object-fit: cover;
    }

    .book-details-description-text {
        overflow: visible;
        max-height: none;
    }
}

/* Section "registration-page" */

.registration-connexion-page {
    display: flex;
    background-color: var(--backgroundColorLight);
}

.registration-connexion-form {
    width: 50%;
    padding: 5% 10%;
}

.registration-connexion-form form {
    display: flex;
    flex-direction: column;
}

.registration-connexion-form label {
    font-size: .875rem;
    color: var(--textColorLight);

    margin: 10px 0;
}

.registration-connexion-form input {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border: #F0F0F0 solid 1px;
}

input[type="submit"] {
    border-radius: 10px;
    background-color: var(--greenMain);
    color: #FFFFFF;
    cursor: pointer;
    margin: 40px 0;
    font-weight: 600;
}

.login-or-registration-link {
    font-size: .875rem;
}


.registration-connexion-form-illustration {
    max-width: 50%;
    object-fit: cover;
}

.registration-connexion-form-illustration img {
    width: 100%;
    height: auto;
}

.error-box {
    color: red;
    font-size: .875rem;
    padding: 10px 5px;
    text-align: center;
}

.success-box {
    color: var(--greenMain);
    font-size: .875rem;
    padding: 10px 5px;
    text-align: center;
}

/* Section "registration-page" --RESPONSIVE-- */

@media screen and (max-width: 1024px) {
    .registration-connexion-page {
        flex-wrap: wrap;
    }
    .registration-connexion-form-illustration, .registration-connexion-form {
        width: 100%;
    }

    .registration-connexion-form input, input[type="submit"] {
        width: 100%;
    }

    .registration-connexion-form-illustration {
        max-width: 100%;
        object-fit: cover;
    }
}


/* Section "privacy-policy" et "terms-of-use" */


.privacy-policy, .terms-of-use {
    background-color: var(--backgroundColor);
    padding: 5% 10%;
}

.privacy-policy h2, .terms-of-use h2 {
    margin: 0;
}

/* Section "user-account" */

.user-account {
    background-color: var(--backgroundColorLight);
    padding: 5% 10%;
}

.user-account-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px auto;
    gap: 25px;
    grid-template-areas:
            "user-info user-update-form"
            "user-library user-library"
            "user-library user-library";
}

.user-informations, .user-update-form, .user-library {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-informations {
    grid-area: user-info;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin: auto;
}

.user-informations-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-informations-image img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
    object-fit: cover;
}

.user-informations-image a {
    font-size: .875rem;
    color: var(--textColorLight);
    margin-top: 5px;
}

.user-informations-details {
    padding: 100px 0 40px 0;
}

.user-informations-username {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    margin: 0;
}

.user-informations-seniority {
    margin: 10px;
    font-size: .875rem;
    color: var(--textColorLight);
}

.user-informations-library {
    font-weight: 600;
    font-size: .5rem ;
    margin-top: 20px;
}

.user-informations-nb-book {
    font-size: .875rem;
    margin: 0;
}

.user-update-form {
    grid-area: user-update-form;

    height: 100%;
    padding: 20px 0;
}

.user-update-form form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.user-update-form label {
    font-size: .875rem;
    color: var(--textColorLight);

    margin-top: 30px;
    margin-bottom: 10px;
}

.user-update-form input {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border: #F0F0F0 solid 1px;
    background-color: #EDF2F6;
    padding-left: 10px;
}

.user-update-form input[type="submit"] {
    border-radius: 10px;
    width: auto;
    color: var(--greenMain);
    background-color: var(--backgroundColor);
    margin: 40px 0 20px 0;
    font-weight: 600;
    border: #00AC66 solid 2px;
}

.user-library {
    grid-area: user-library;
    width: 100%;
    margin: 40px 0;
    text-align: left;
}

.light {
    background-color: #EDF2F6;
}

.user-library table {
    margin-left: 20px;
    margin-top: 20px;
}


.user-library th {
    padding: 5px;
    height: 100%;
}

.tab-active .user-library-details-image {
    width: 10%;
}

.tab-active .user-library-details-title {
    width: 15%;
}

.tab-active .user-library-details-author {
    width: 15%;
}

.tab-active .user-library-details-description {
    width: 25%;
}

.tab-active .user-library-details-available {
    width: 20%;
}

.user-library-details-available .available {
    background-color: #6DC5A1;
    text-align: center;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 2px;
    width: 100px;
}

.user-library-details-available .not-available {
    background-color: #C56D6D;
    text-align: center;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 2px;
    width: 120px;
}

thead tr th {
    font-size: .875rem;
    font-weight: 600;
}

.action-edit {
    color: #292929;
}

.action-delete {
    color: #CB2D2D;
    margin-left: 10px;
}


.user-library-details-actions {
    width: 20%;
}

.user-library-details-image img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.user-library-details-title, .user-library-details-author, .user-library-details-description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80px;
}

.user-library-details-card-top {
    display: flex;
}

.user-library-details-card img {
    min-width: 79px;
    max-width: 79px;
    min-height: 79px;
    max-height: 79px;
    object-fit: cover;
}

.user-library-details-card {
    padding: 10%;
}

.user-library-details-card-top-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}

.card-active .user-library-details-title {
    width: 100%;
}
.card-active .user-library-details-author {
    width: 100%;
}

.card-active .user-library-details-description {
    width: 100%;
}

.card-active .user-library-details-actions {
    display: flex;
    margin-top: 40px;
}

.card-active .user-library-details-description {
    margin-top: 20px;
}

.card-active {
    display: none;
    height: auto;
}

.card-active .user-library-details-card-top-text .available {
    margin-top: 10px;
    background-color: #6DC5A1;
    text-align: center;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 2px;
    width: 100px;
}

.card-active .user-library-details-card-top-text .not-available {
    margin-top: 10px;
    background-color: #C56D6D;
    text-align: center;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 2px;
    width: 100px;
}

/* Section "user-account" RESPONSIVE */

@media screen and (max-width: 1024px) {
    .user-account-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px auto;
        gap: 25px;
        grid-template-areas:
            "user-info user-info"
            "user-update-form user-update-form"
            "user-library user-library"
            "user-library user-library";
    }

    .user-update-form {
        margin-top: 40px;
    }

    .user-library {
        margin-top: 80px;
    }

    .tab-active {
        display: none;
    }

    .card-active {
        display: block;
    }
}

/* Section "user-account public" */

.user-account.public .user-library {
    margin: 0;
    padding: 20px 0;
    height: 500px;
    overflow: auto;
}

.user-account-details.public {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px;
    gap: 25px;
    grid-template-areas:
            "user-info user-library user-library";
}

/* Section "user-account public" RESPONSIVE */

@media screen and (max-width: 1024px) {
    .user-account-details.public {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 25px;
        grid-template-areas:
            "user-info";
            "user-library";
    }

    .user-account.public .user-library {
        height: auto;
        margin-top: 80px;
    }
}

/* Section "book-form" */

.book-form {
    background-color: var(--backgroundColorLight);
    padding: 5% 10%;
}

.book-form-head {

}

.book-form-head h2 {
    margin: 10px;
}

.book-form-head a {
    color: var(--textColorLight);
    text-decoration: none;
    font-size: .875rem;
}

.book-form form {
    display: flex;
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
}

.book-form form input:not(#imageToUpload, #submit), #description, #available {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: #F0F0F0 solid 1px;
    background-color: #EDF2F6;
    padding-left: 10px;
}

.book-form form label {
    color: var(--textColorLight);
    font-size: .875rem;
    margin: 10px 0;
}

.left-book-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.left-book-form img {
    object-fit: cover;
    width: auto;
    height: 488px;
}

.right-book-form {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}

textarea[name="description"] {
    resize: none;
    /*min-width: auto;*/
    width: 80%;
    padding: 10px;
    min-height: 300px;
    overflow: scroll;
}

.book-form input[type='submit'] {
    border: none;
    color: var(--textColorWhite);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 22px 38px;
    margin: 30px 0;
    background-color: var(--greenMain);
    border-radius: 10px;
}


/* Section Section "book-form" RESPONSIVE */

@media screen and (max-width: 1024px) {
    .book-form {
        padding: 0;
    }

    .book-form form {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .left-book-form {
        object-fit: cover;
        width: 80%;
    }

    .right-book-form {
        margin-top: 50px;
        width: 80%;
    }

    textarea[name="description"] {
        max-width: none;
        width: 80%;
    }

    .book-form-head {
        padding: 50px;
    }
}

/* Section Section "messaging" */

.overall-threads {
    /*border: #CB2D2D solid 1px;*/
}

.view-discussion {
    display: flex;
    flex-direction: column;
}

.messaging {
    display: flex;
    flex-wrap: wrap;
}

.overall-threads {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 5% 0;
    background-color: var(--backgroundColorLight);
}

.view-discussion {
    flex: 1 0 auto;
    width: 100%;
    min-height: 900px;
    max-width: 75%;
    padding: 5% 0;
    background-color: var(--backgroundColor);
    justify-content: space-between;
}

.back-to-overall-threads {
    font-weight: 400;
    font-size: .875rem;
    color: var(--textColorLight);
    text-decoration: none;
    margin: 0 40px;
    display: none;
}

.contact-discussion {
    display: flex;
    align-items: center;
}

.overall-threads h2, .contact-discussion {
    margin: 20px 40px;
}

.contact-discussion img, .discussion-link img {
    height: 48px;
    width: 48px;
    min-width: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-discussion a {
    text-decoration: none;
}

.contact-username {
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}

.thread-discussion a {
    text-decoration: none;
}

.discussion-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.discussion-link.selected {
    background-color: #FFFFFF;
}

.discussion-info {
    min-width: 120px;
    margin-right: auto;
}

.discussion-info .discussion-contact {
    font-size: .875rem;
    margin: 5px 10px;
}

.discussion-info .extract-last-message {
    font-size: .75rem;
    color: var(--textColorLight);
    margin: 5px 10px;
}

.discussion-info .discussion-date-time {
    display: flex;
    align-content: flex-start;
    font-size: .75rem;
}

.discussion {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    max-height: 700px;
    align-content: flex-end;
}

.message:not(.end) {
    padding: 20px 40px;
    margin-right: 30%;
}

.message.end {
    padding: 20px 40px;
    align-self: self-end;
    margin-left: 30%;
    text-align: right;
}

.message-info {
    display: flex;
    align-items: center;
}

.message-info.end {
    justify-content: flex-end;
}

.message-info.reverse {
    flex-direction: row-reverse;
}

.message-info img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.message-date-time {
    padding: 0 10px;
    font-size: .75rem;
    color: var(--textColorLight);
}

.message-content {
    display: inline-block;
    background-color: #FFFFFF;
    font-size: .75rem;
    margin-top: 10px;
    padding: 10px;
}

.add-message-bloc {
    padding: 20px 40px;
}

.add-message-bloc form {
    display: flex;
    align-items: center;
}

.add-message-bloc textarea {
    resize: none;
    overflow-y: scroll;
    min-height: 44px;
    max-height: 200px;

    border: #F0F0F0 solid 1px;
    border-radius: 6px;
    width: 75%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.add-message-bloc input {
    margin: 0 0 0 20px;
    height: 50px;
    width: 130px;
    background-color: var(--greenMain);
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .messaging {
        overflow-x: scroll;
    }
    .overall-threads {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .view-discussion  {
        position: absolute;
        right: -100%;
        /*right: 0;*/
        width: 100%;
        max-width: none;
    }
    .back-to-overall-threads {
        display: block;
    }
    .message {
        padding: 20px 40px;
        width: 100%;
    }
}























































